.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;

  &.cards_wrap-news {
    padding-top: 60px;

    @media (max-width: $mobile-max) {
      padding-top: 40px;
    }
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  flex-basis: calc(50% - 24px / 2);
  position: relative;

  &.card-bigger {
    flex-shrink: 0;
    flex-basis: calc(33.33% - 12px);
  }

  &.card-news {
    flex-basis: calc(33.33% - 48px / 3);

    @media (max-width: $tablet-max) {
      flex-basis: calc(50% - 24px / 2);
    }
  }
}

.card_visual {
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_image {
  width: 100%;
  border-radius: 14px;
}

.card_text {
  padding-left: 40px;
  padding-bottom: 30px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-family: 'El Messiri', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: #fff;
}

.card_link {
  position: absolute;
  inset: 0;
}
