.footer {
  padding: 90px 0 30px;
  color: #fff;

  &.footer-news {
    padding-top: 0;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 15px;
  }
}

.footer_inner {
  @include inner;
}

.footer_row {
  display: flex;

  &.footer_row-news {
    padding-top: 30px;
    border-top: 1px solid rgba(#fff, .3);

    @media (max-width: $mobile-max) {
      padding-top: 15px;
    }
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
  }
}

.footer_copy {
  margin-right: auto;

  @media (max-width: $mobile-max) {
    margin-right: 0;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer_maked {
  @media (max-width: $mobile-max) {
    font-size: 14px;
    line-height: 16px;
  }
}

