.footer {
  padding: 90px 0 30px;
  color: #fff;

  &.footer-news {
    padding-top: 0;
  }
}

.footer_inner {
  @include inner;
}

.footer_row {
  display: flex;

  &.footer_row-news {
    padding-top: 30px;
    border-top: 1px solid rgba(#fff, .3);
  }
}

.footer_copy {
  margin-right: auto;
}

