@mixin inner {
  max-width: 1278px - 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@mixin title {
  font-family: 'El Messiri', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 58.8px;
  text-align: center;
  color: #fff;

  @media (max-width: $tablet-max) {
    font-size: 38px;
    line-height: 40px;
  }

  @media (max-width: $mobile-max) {
    font-size: 26px;
    line-height: 30px;
  }
}
