// Fonts
$font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// colors
$color-bg: #162831;
$color-accent: #018ABE;

// indents

// breakpoints

$mobile: 360px;
$tablet: 768px;
$desctop: 1278px;

$mobile-max: 768px - 1px;
$tablet-max: 1278px - 1px;
